.aboutContainer {
    margin-top: 4rem;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2.5rem;
  }
  
  .contactForm {
    background: teal;
    display: flex;
    flex-direction: column;
    padding: 2vw 3vw;
    width: 550px;
    max-width: 600px;
    max-width: 600;
    border-radius: 10px;
  }
  
  .contactForm h3 {
    color: var(--gradient-color);
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .contactForm input,
  .contactForm select, 
  .contactForm textarea {
    border: 0;
    margin: 10px 0;
    padding: 8px;
    outline: none;
    background: var(--light-color-alt);
    color: var(--primary-background-color);
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
  }
  
  
  .contactForm button {
    padding: 15px;
    background: var(--secondary-background-color);
    color: var(--light-color);
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }

  .contactForm button:hover {
     background: var(--light-color);
     color: var(--light-color-alt);
  }

  @media (max-device-width: 480px) {
    .contactForm{
        width: 95vw;
    }
  }
  
  @media (max-device-width: 380px) {
    .aboutContainer {
        margin: 11rem 0.1rem 4rem 0.1rem;
    }

    .contactForm{
        width: 95vw;
    }
  }
