
.background {
    /* padding: 0 25px 25px; */
    margin-left: 5px;
    position: relative;
    width: 100%;
    margin-top: 6rem;
  }

  .classes{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .classes h1{
    color: teal;
    margin-top: 3rem;
    margin-bottom: -4rem;
  }
  
  .background::after {
    content: '';
    background: var(--light-color);
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }


  .brandLogo img{
    height: auto;
    width: 65px;
    object-fit: cover;
    margin-left: 2rem;
}

/*  */


.navBar{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .payContainer {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 1200px;
    width: 100%;
  }
  
  .panel {
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    box-shadow: 0px 10px 13px -6px rgba(77, 77, 77, 0.137), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #e1f1ff0e;
    padding: 25px;
    background-color: var(--secondary-background-color);
    margin: 0rem 2rem;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
    border-radius: 50%;
    height: 15rem;
  }
  
  .pricing-header {
    color: var(--light-color);
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: var(--light-color-alt);
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .pricing-features-item {
    border-top: 1px solid var(--light-color-alt);
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid var(--light-color-alt);
  }
  
  .pricing-price {
    color: teal;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .pricing-button {
    border: 1px solid teal;
    border-radius: 10px;
    color: var(--fontColor);
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
    background-color: lightseagreen;
  }
  
  .pricing-button.is-featured {
    background-color: teal;
    color: var(--light-color-alt);
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: var(--primary-background-color);
    color: var(--light-color-alt);
  }


  @media (max-width: 830px){

    .pricing-plan {
      margin: 2rem 0rem;
    }
  
  .feature{
     justify-content: space-between;
  }
  
  .feature .featureBox{
     margin: 0 0 15px 0;  
     width: 155px;       
   }
  
   .navList{
    position: absolute;  
  }
  
  .background::after {
  
    position: relative;
   
  }
}
  /* @media screen and (min-width: 900px){

  
    .navBar{
      justify-content: space-between;
    }
   
  
  
  } */
